body {
	border-collapse:collapse;
	background-color: cornsilk;
}

table {
	border-collapse:collapse;
	/*box-shadow: 0px 0px 5px #7E9353;*/	
}

caption {
	text-align:center;
	margin-left: auto;
   margin-right: auto;
}

.content {
	padding-bottom: 25px;
	padding-left: 25px;
	padding-right: 25px;
	
	/*
	background-color: lightgray;
	box-shadow: 0px -5px 5px #7E9353;

	border-top-left-radius:20px;
	border-top-right-radius:20px;
	border-bottom-left-radius:20px;
	border-bottom-right-radius:20px;*/
		
	
   margin-left: auto;
   margin-right: auto;
   
   display: block;
   width: 900px;
   text-align:center;
   /*border:1px solid black;*/
	
}

.canvas {
   padding-top: 25px;
	padding-bottom: 25px;
	padding-left: 25px;
	padding-right: 25px;

	margin-left: -10px;
	margin-right: -10px;
	margin-top: 20px;
	margin-bottom: 20px;	
	
   display: block;
   
   text-align:center;
}

.north {
	padding-top: 25px;
	padding-left: 50px;	
	
	margin-left: -10px;
	margin-right: -10px;
	margin-top: -10px;
	
   display: block;
   height: 100px;
   text-align: center; 
   background-color: gainsboro;
   box-shadow: 0px 0px 5px #7E9353;
}

.south {
	padding-top: 25px;
	padding-right: 25px;	
	
	margin-left: -10px;
	margin-right: -10px;
	
	
   display: block;
   height: auto;

	text-align: center;   
       
   /*background-color: lightgrey;*/
   box-shadow: 0px 0px 5px #7E9353;
   	
   
}

.darkgreenbackground {
	/*background-color:darkgreen;*/
}

.lightgreenbackground {
	/*background-color:lightgreen;*/
}

.cell {
	width: 200px;
	height: 50px;
	
	padding: 15px;	
	
	text-align: justify;
	font-family: Helvetica;	
	
	box-shadow: 0px 0px 1px #7E9353;
}

.tableheading {
	width: 200px;
	height: 25px;
	padding: 15px;
	text-align:justify;
	font-family: Helvetica;	
}

.heading {
	height:50px;
}
